.search-page-details-border {
  border-left: 1px solid #a0a0a0;
  margin-left: -1px;
  padding-left: 30px;
}
.search-page-leftnav-border {
  border-right: 1px solid #a0a0a0;
}
.search-page-details-nodata {
  margin: 0 auto;
  width: 75%;
}
