<div class="row pt-1">
  <app-search-page-leftnav *ngIf="((doctype=='act' || doctype=='section') &&  sections.length) || (userqueries.length || cites.length || citedBy.length)" class="col-sm-3 pl-1 search-page-leftnav-border"
                            [doctype]="doctype"
                            [sections]="sections"
                            [userqueries]="userqueries"
                            [cites]="cites"
                            [citedBy]="citedBy">
  </app-search-page-leftnav>
  <app-search-page-details [ngClass]="(((doctype=='act' || doctype=='section') &&  sections.length) || (userqueries.length || cites.length || citedBy.length))? 'col-sm-9 search-page-details-border': 'search-page-details-nodata'"
                           [noLeftnav]="(((doctype=='act' || doctype=='section') &&  sections.length) || (userqueries.length || cites.length || citedBy.length))"
                           [name]="name"
                           [description]="description"
                           [doctype]="doctype"
                           [sections]="sections">
  </app-search-page-details>
</div>
