.search-list-title {
  font-size: 20px;
  color: blue;
}
.search-list-description {
  left-padding: 5px;
}

.loader-margin {
  margin: auto;
  width: 0%;
}

.search-list-author-css {
  padding-left: 5px;
  color: #00bfff;
  display: inline-block;
  cursor: pointer;
}
